<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Tytul">Tytuł</label>
                <input ng-model="articleToEdit.title" class="form-control" id="Tytul" placeholder="Tytuł">
            </div>
            <div class="form-group">
                <label for="Autor">Autor</label>
                <input ng-model="articleToEdit.author" class="form-control" id="Autor" placeholder="Autor">
            </div>
            <div class="form-group">
                <label for="Tresc">Treść</label>
                <textarea ng-model="articleToEdit.content" class="form-control" id="Tresc" placeholder="Treść"></textarea>
            </div>
            <button type="submit" class="btn btn-info" ng-click="saveEditedArticle()">Wyślij</button>
        </form>
        <p class="errorText">{{errorText}}</p>
    </div>
    <div class="col-md-4"></div>
</div>
